body {
  min-width: 1200px;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #636363;
  background-image: url("../img/bg.png"),
                    url("../img/bg-2.png"),
                    url("../img/bg-3.png");
  background-repeat: no-repeat;
  background-position: top right calc(50% - 19px), top left calc(50% + 27px), top right 50%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-nav {
  display: flex;
  align-items: baseline;
  padding: 30px 0;
}

.city-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 80px 0 0;
  padding: 0;
  list-style: none;
}

.city-item {
  margin-right: 25px;
  text-transform: uppercase;
}

.city-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #cccccc;
}

.city-link:hover,
.city-link:focus {
  opacity: 0.8;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  margin-right: 40px;
}

.site-navigation-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  font-weight: 700;
}

.register {
  margin-left: auto;
  padding: 10px 27px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #2fb0ed;
  background-color: #ffffff;
  border-radius: 50px;
}

.promo {
  display: flex;
  padding-top: 75px;
  padding-bottom: 185px;
}

.promo-rating-column {
  width: 605px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 231px;
  height: 231px;
  margin-left: 55px;
  margin-top: 270px;
  font-size: 14px;
  line-height: 21px;
  color: #2f80fd;
  border-radius: 50%;
  background-image: radial-gradient(68.31% 68.31% at 50% 50%, #f9fbff 0%, #cadef9 100%);
  box-shadow: 0 10px 50px 0 rgba(119, 157, 255, 0.3);
}

.rating-text {
  margin: 5px 0;
  text-align: center;
}

.rating-number {
  font-size: 34px;
  line-height: 52px;
  font-weight: 700;
}

.rating-link {
  position: relative;
  padding-right: 10px;
  font-size: 10px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.rating-link::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 3px;
  height: 3px;
  border: 1px solid #2f80fd;
  transform: rotate(45deg) translateY(-50%);
  border-left: none;
  border-bottom: none;
}

.rating-link::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  width: 5px;
  height: 1px;
  background-color: #2f80fd;
}

.promo-text-column {
  width: 575px;
  color: #ffffff;
}

.promo-place-date {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-text-big {
  margin: 18px 0 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
}

.promo-text-small {
  margin: 21px 0 0;
  font-size: 18px;
  line-height: 22px;
}

.promo-register {
  display: inline-block;
  margin: 42px 0 0 15px;
  padding: 15px 40px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #64e2cd;
  box-shadow: 0 0 0 15px rgba(100, 226, 205, 0.5);
  border-radius: 50px;
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
}

.audience {
  position: relative;
  padding-top: 75px;
  padding-bottom: 169px;
  background-image: url("../img/audience.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.audience-wrapper {
  position: relative;
}

.audience-wrapper::after {
  position: absolute;
  content: "";
  top: -100px;
  right: -90px;
  width: 231px;
  height: 231px;
  background-image: radial-gradient(68.31% 68.31% at 50% 50%, #ffffff 0%, #cadef9 100%),
  linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 50%;
  box-shadow: 0 10px 50px 0 rgba(119, 157, 255, 0.3);
  filter: blur(20px);

}

.audience-list {
  display: flex;
  flex-wrap: wrap;
  margin: 97px 0 0;
}

.audience-item {
  width: 225px;
  margin-right: 75px;
  font-size: 14px;
  line-height: 20px;
}

.audience-item-category {
  width: 190px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2f80ed;
}

.audience-item-description {
  margin: 9px 0 0;
}

.program {
  position: relative;
  padding: 155px 0 135px;
  font-size: 14px;
  line-height: 20px;
}

.program::before {
  position: absolute;
  content: "";
  top: 222px;
  left: 782px;
  width: 125px;
  height: 125px;
  background-image: radial-gradient(68.31% 68.31% at 50% 50%, #6aaaff 0%, #2f80ed 100%),
  linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 50%;
  box-shadow: 0 10px 50px 0 rgba(119, 157, 255, 0.3);
  opacity: 0.1;
}

.program::after {
  position: absolute;
  content: "";
  top: 240px;
  left: 800px;
  width: 89px;
  height: 89px;
  background-image: radial-gradient(68.31% 68.31% at 50% 50%, #6aaaff 0%, #2f80ed 100%),
  linear-gradient(0deg, #ffffff, #ffffff);
  border-radius: 50%;
  box-shadow: 0 10px 50px 0 rgba(119, 157, 255, 0.3);
  filter: blur(10px);
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
  margin-top: 45px;
}

.program-item {
  width: 220px;
  margin: 0 0 82px 0;
}

.program-item-topic {
  font-weight: 600;
  text-transform: uppercase;
  color: #2f80ed;
}

.program-item-description {
  margin: 10px 0 0;
}

.program-link {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #2f80ed;
  border-bottom: 1px dashed #2f80ed;
  padding-bottom: 5px;
}